<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Computadora_init() hook (in hooks/Computadora.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Computadora-Empleado-<%%VALUE(id)%%>" class="Computadora-Empleado"><%%VALUE(Empleado)%%></td>
		<td id="Computadora-Marca-<%%VALUE(id)%%>" class="Computadora-Marca"><%%VALUE(Marca)%%></td>
		<td id="Computadora-Modelo-<%%VALUE(id)%%>" class="Computadora-Modelo"><%%VALUE(Modelo)%%></td>
		<td id="Computadora-Serie-<%%VALUE(id)%%>" class="Computadora-Serie"><%%VALUE(Serie)%%></td>
		<td id="Computadora-Headset-<%%VALUE(id)%%>" class="Computadora-Headset"><%%VALUE(Headset)%%></td>
		<td id="Computadora-Monitor-<%%VALUE(id)%%>" class="Computadora-Monitor"><%%VALUE(Monitor)%%></td>
		<td id="Computadora-informacion1-<%%VALUE(id)%%>" class="Computadora-informacion1"><%%VALUE(informacion1)%%></td>
		<td id="Computadora-informacion2-<%%VALUE(id)%%>" class="Computadora-informacion2"><%%VALUE(informacion2)%%></td>
		<td id="Computadora-NombreComp-<%%VALUE(id)%%>" class="Computadora-NombreComp"><%%VALUE(NombreComp)%%></td>
		<td id="Computadora-Antivirus-<%%VALUE(id)%%>" class="Computadora-Antivirus"><%%VALUE(Antivirus)%%></td>
		<td id="Computadora-TeamviewerID-<%%VALUE(id)%%>" class="Computadora-TeamviewerID"><%%VALUE(TeamviewerID)%%></td>
		<td id="Computadora-Notas-<%%VALUE(id)%%>" class="Computadora-Notas"><%%VALUE(Notas)%%></td>
		<td id="Computadora-actualizado-<%%VALUE(id)%%>" class="Computadora-actualizado"><%%VALUE(actualizado)%%></td>
