<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Computadora_init() hook (in hooks/Computadora.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Computadora-Empleado-<%%VALUE(id)%%>" class="Computadora-Empleado"><%%SELECT%%><%%VALUE(Empleado)%%><%%ENDSELECT%%></td>
		<td id="Computadora-Marca-<%%VALUE(id)%%>" class="Computadora-Marca"><%%SELECT%%><%%VALUE(Marca)%%><%%ENDSELECT%%></td>
		<td id="Computadora-Modelo-<%%VALUE(id)%%>" class="Computadora-Modelo"><%%SELECT%%><%%VALUE(Modelo)%%><%%ENDSELECT%%></td>
		<td id="Computadora-Serie-<%%VALUE(id)%%>" class="Computadora-Serie"><%%SELECT%%><%%VALUE(Serie)%%><%%ENDSELECT%%></td>
		<td id="Computadora-Hedset-<%%VALUE(id)%%>" class="Computadora-Hedset"><%%SELECT%%><%%VALUE(Hedset)%%><%%ENDSELECT%%></td>
		<td id="Computadora-Monitor-<%%VALUE(id)%%>" class="Computadora-Monitor"><%%SELECT%%><%%VALUE(Monitor)%%><%%ENDSELECT%%></td>
		<td id="Computadora-campo1-<%%VALUE(id)%%>" class="Computadora-campo1"><%%SELECT%%><%%VALUE(campo1)%%><%%ENDSELECT%%></td>
		<td id="Computadora-campo2-<%%VALUE(id)%%>" class="Computadora-campo2"><%%SELECT%%><%%VALUE(campo2)%%><%%ENDSELECT%%></td>
		<td id="Computadora-NombreComp-<%%VALUE(id)%%>" class="Computadora-NombreComp"><%%SELECT%%><%%VALUE(NombreComp)%%><%%ENDSELECT%%></td>
		<td id="Computadora-Antivirus-<%%VALUE(id)%%>" class="Computadora-Antivirus"><%%SELECT%%><%%VALUE(Antivirus)%%><%%ENDSELECT%%></td>
		<td id="Computadora-TeamviewerID-<%%VALUE(id)%%>" class="Computadora-TeamviewerID text-right"><%%SELECT%%><%%VALUE(TeamviewerID)%%><%%ENDSELECT%%></td>
		<td id="Computadora-Notas-<%%VALUE(id)%%>" class="Computadora-Notas"><%%SELECT%%><%%VALUE(Notas)%%><%%ENDSELECT%%></td>
