<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Inventario_init() hook (in hooks/Inventario.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Inventario-Empleado-<%%VALUE(id)%%>" class="Inventario-Empleado"><%%VALUE(Empleado)%%></td>
		<td id="Inventario-Marca-<%%VALUE(id)%%>" class="Inventario-Marca"><%%VALUE(Marca)%%></td>
		<td id="Inventario-Modelo-<%%VALUE(id)%%>" class="Inventario-Modelo"><%%VALUE(Modelo)%%></td>
		<td id="Inventario-Serie-<%%VALUE(id)%%>" class="Inventario-Serie"><%%VALUE(Serie)%%></td>
		<td id="Inventario-Hedset-<%%VALUE(id)%%>" class="Inventario-Hedset"><%%VALUE(Hedset)%%></td>
		<td id="Inventario-Monitor-<%%VALUE(id)%%>" class="Inventario-Monitor"><%%VALUE(Monitor)%%></td>
		<td id="Inventario-campo1-<%%VALUE(id)%%>" class="Inventario-campo1"><%%VALUE(campo1)%%></td>
		<td id="Inventario-campo2-<%%VALUE(id)%%>" class="Inventario-campo2"><%%VALUE(campo2)%%></td>
		<td id="Inventario-NombreComp-<%%VALUE(id)%%>" class="Inventario-NombreComp"><%%VALUE(NombreComp)%%></td>
		<td id="Inventario-Antivirus-<%%VALUE(id)%%>" class="Inventario-Antivirus"><%%VALUE(Antivirus)%%></td>
		<td id="Inventario-TeamviewerID-<%%VALUE(id)%%>" class="Inventario-TeamviewerID text-right"><%%VALUE(TeamviewerID)%%></td>
		<td id="Inventario-Notas-<%%VALUE(id)%%>" class="Inventario-Notas"><%%VALUE(Notas)%%></td>
