<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Empleado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Empleado)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Comp. Marca</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Marca)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Comp. Modelo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Modelo)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Num. Serie</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Serie)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Headset</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Hedset)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Monitor</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(Monitor)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Campo 1</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(campo1)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Campo 2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(campo2)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nombre Comp.</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(NombreComp)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Antivirus</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(Antivirus)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Teamviewer ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(TeamviewerID)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Notas</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Notas)%%></div>
			</div>
		</div>
	</fieldset>
</div>
